<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.H2Dialect</property>

		<!-- Additional Database connection settings -->
		<property name="connection.autocommit">false</property>
		<property name="connection.pool_size">2</property>

		<mapping class="com.nixsolutions.ponarin.entity.Role" />
		<mapping class="com.nixsolutions.ponarin.entity.User" />
	</session-factory>
</hibernate-configuration>