<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
          http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<servlet>
		<servlet-name>roleController</servlet-name>
		<servlet-class>com.nixsolutions.ponarin.controller.RoleController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>roleController</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>loginController</servlet-name>
		<servlet-class>com.nixsolutions.ponarin.controller.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginController</servlet-name>
		<url-pattern>/login.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>logoutController</servlet-name>
		<servlet-class>com.nixsolutions.ponarin.controller.LogoutController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logoutController</servlet-name>
		<url-pattern>/logout.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>dbOperationController</servlet-name>
		<servlet-class>com.nixsolutions.ponarin.controller.DbOperationController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dbOperationController</servlet-name>
		<url-pattern>/admin/user_operations.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>editController</servlet-name>
		<servlet-class>com.nixsolutions.ponarin.controller.EditController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>editController</servlet-name>
		<url-pattern>/admin/edit.do</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>authFilter</filter-name>
		<filter-class>com.nixsolutions.ponarin.filter.AuthFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>authFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>adminFilter</filter-name>
		<filter-class>com.nixsolutions.ponarin.filter.AdminFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>adminFilter</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>com.nixsolutions.ponarin.listener.ShutdownListener</listener-class>
	</listener>


	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
</web-app>